.taskBoard-form{
    grid-row: 2/5;
    grid-column: 2/3;
    width: 60%;
    height: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    align-content: center;
    background-color: var( --background-color);
    border: 1px solid var(--blue-color);
    z-index: 100;

}
label,
input,
select,
button{
    margin: 0 5px;
    margin-top: 5px;
}
label,
button{
    margin-top: 10px;
}
@media (min-width:800px){
    .taskBoard-form{
        width: 90%;
        grid-row: 2/3;
        grid-column: 4/5;
        background-color: var( --white-text);
        
    
    }
}