*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}

:root{
    --red-primary-color:#D32F2F;
    --blue-color:#536DFE;
    --primary-text:#212121;
    --secondary-text:#757575;
    --white-text:#FFFFFF;
    --background-color:#BDBDBD
}