.taskBoard{
    width:100% ;
    min-width: 320px;
    height: auto;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr 1fr 1fr;
    grid-template-columns: repeat(2,1fr);
    
    background-color: var(--background-color);
}
.taskBoard-logo{
   width: 80px;
   height: 80px;
   grid-row: 1/2;
   grid-column: 1/2;
   margin-left: 10px;
   background-image: url('https://cdn2.iconfinder.com/data/icons/social-media-2189/48/11-Trello-128.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   
}
#newTask-button{
    width: 150px;
    height: 50px;
    padding: 5px;
    border: none;
    background-color: var(--red-primary-color);
    grid-row: 1/2;
    grid-column: 2/3;
    

}
.task{
   
    background-color: var(--white-text);
    margin: 10px auto;
    
    
}
.taskBoard-toDo{
    grid-row: 2/3;
    grid-column: 1/3;
    width: 90%;
    height: auto;
   
}
.taskBoard-doing{
    grid-row: 3/4;
    grid-column: 1/3;
    width: 90%;
    height: auto;

}
.taskBoard-done{
    grid-row: 4/5;
    grid-column: 1/3;
    width: 90%;
    height: auto;

}
.task h2{
    font-family: monospace;
    animation:  
    text 3.5s steps(8,end);
    white-space: nowrap;
    overflow: hidden;
}
  @keyframes text {
      from{width: 0;}
      to{width: 100%;}
  }
@media (min-width:800px){
    .taskBoard{
      
        grid-template-rows: 150px 1fr;
        grid-template-columns: repeat(4,1fr);
        align-content: space-evenly;
      
    }
    .taskBoard-logo{
       
       grid-row: 1/2;
       grid-column: 1/2;
       margin-left: 10px;
      
       
    }
    #newTask-button{
       
        grid-row: 1/2;
        grid-column: 4/5;
        align-self: flex-start;
    
    }
    .task{
        height: auto;
        min-height: 350px;
      
        
    }
    .taskBoard-toDo{
        grid-row: 2/3;
        grid-column: 1/2;
        
        
    }
    .taskBoard-doing{
        grid-row: 2/3;
        grid-column: 2/3;
       
    
    }
    .taskBoard-done{
        grid-row: 2/3;
        grid-column: 3/4;
       
    
    }
}
